html
    @include light
    font-size: 10px
    background: linear-gradient(135deg, #AD5389 0%, #3C1053 100%) 
    h3 
        opacity: 0.4
    p 
        margin-bottom: 40px
.container 
    position: relative
    max-width: 960px
    left: 50%
    transform: translateX(-50%)
    display: flex
    justify-content: space-evenly
    margin-top: 5rem
.template
    display: flex
    max-width: 30%
    //flex-direction: row
    align-items: center
.flip-temp
    max-width: 30%
.vault 
    .container
        flex-direction: column
        align-items: center
        .up-btn 
            align-self: flex-end
            margin-right: 1rem

@media screen and ( min-width: 768px ) and (max-width: 959px)
    .container  
        width: 768px
    p 
        font-size: 1.4rem

@media screen and ( min-width: 320px ) and (max-width: 767px)
    .container  
        max-width: 767px
        flex-direction: column
        align-items: center
        .template
            max-width: 80%
            margin-bottom: 5rem
        .flip-temp
            max-width: 80%
        p 
            font-size: 2.6rem